
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono'); */

@font-face {
  font-family: 'Iosevka Pride';
  src: URL('font.ttf') format('truetype');
}



* {
    font-family: 'Iosevka Pride', monospace;
    font-size: 19px;
    color: var(--text);
    -webkit-tap-highlight-color: transparent;
}

html, body {
    display: flex;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--base);
    flex-direction: column;
    flex: 1;
}

.contents {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 10px 20px;
}

p {
    line-height: 25px;
}
