@font-face {
  font-family: "Iosevka Pride";
  src: url("/font.woff2") format("woff2");
  font-display: swap;
}

* {
  font-family: "Iosevka Pride", monospace;
  color: var(--text);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: flex;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--base);
  flex-direction: column;
  flex: 1;
}

.contents {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 10px 20px;
}

p {
  line-height: 25px;
}

.subtext {
  color: var(--subtext0);
}

.blog {
  h1 {
    color: var(--yellow);
  }
  a {
    color: var(--flamingo);
  }
  a:hover {
    text-shadow: 0 0 3px;
  }
  h2 {
    color: var(--peach);
    text-decoration: underline;
  }
  code {
    background-color: var(--crust);
    padding: 2px;
  }
}

:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

@media (prefers-color-scheme: light) {
  :root {
    --rosewater: #dc8a78;
    --flamingo: #dd7878;
    --pink: #ea76cb;
    --mauve: #8839ef;
    --red: #d20f39;
    --maroon: #e64553;
    --peach: #fe640b;
    --yellow: #df8e1d;
    --green: #40a02b;
    --teal: #179299;
    --sky: #04a5e5;
    --sapphire: #209fb5;
    --blue: #1e66f5;
    --lavender: #7287fd;
    --text: #4c4f69;
    --subtext1: #5c5f77;
    --subtext0: #6c6f85;
    --overlay2: #7c7f93;
    --overlay1: #8c8fa1;
    --overlay0: #9ca0b0;
    --surface2: #acb0be;
    --surface1: #bcc0cc;
    --surface0: #ccd0da;
    --crust: #dce0e8;
    --mantle: #e6e9ef;
    --base: #eff1f5;
  }
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--yellow); /* fg1 / fg */
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  background: var(--surface0); /* bg4 */
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  background: var(--surface0); /* bg4 */
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--crust); /* bg0_h */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: var(--overlay1); /* fg4 / gray1 */
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
  color: var(--mauve); /* red2 */
}

.token.operator,
.token.punctuation,
.token.attr-name {
  color: var(--subtext0); /* fg4 / gray1 */
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
  color: var(--yellow); /* yellow2 */
}

.token.entity,
.token.number,
.token.symbol {
  color: var(--maroon); /* purple2 */
}

.token.property,
.token.constant,
.token.variable {
  color: var(--peach); /* red2 */
}

.token.string,
.token.char {
  color: var(--green); /* green2 */
}

.token.attr-value,
.token.attr-value .punctuation {
  color: var(--lavender); /* fg4 / gray1 */
}

.token.url {
  color: var(--green); /* green2 */
  text-decoration: underline;
}

.token.function {
  color: var(--blue); /* yellow2 */
}

.token.regex {
  background: var(--green); /* green2 */
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  color: var(--green);
}

.token.deleted {
  color: var(--red);
}
