@import url('https://fonts.googleapis.com/css2?family=Recursive:wght,MONO@350,0..1&display=swap'); 

@font-face {
    font-family: 'Iosevka Pride';
    src: url('font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  font-family: "Iosevka Pride", monospace;
  font-size: 13pt;
  color: var(--text);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: flex;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  scrollbar-width: none;
  scrollbar-color: var(--bg-3) transparent;
  scrollbar-gutter: stable;
}

body {
  background-color: var(--base);
  flex-direction: column;
  flex: 1;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

button {
  background: none;
  box-shadow: none;
  border: none;
}

.contents {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 10px 20px 50px;
}

p {
  line-height: 25px;
}

.subtext {
  color: var(--subtext0);
}

.container {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.blog {
  h1 {
    color: transparent;
    background-clip: text !important;
    background: linear-gradient(60deg, var(--pink), var(--mauve), var(--blue));
    font-size: 21pt;
  }
  a {
    color: var(--blue);
  }
  a:hover {
    text-shadow: 0 0 3px;
  }
  h2 {
    color: var(--pink);
    text-decoration: underline;
    font-size: 17pt;
    text-underline-offset: 2px;
  }
  h3 {
    color: var(--flamingo);
    text-decoration: var(--surface2) underline;
    text-underline-offset: 2px;
  }
  code {
    background-color: var(--crust);
    padding: 2px;
  }
  img {
    object-fit: scale-down;
    max-width: 100%;
  }
  .blog-date {
    color: var(--subtext0);
  }
  blockquote {
    font-style: italic;
    color: var(--rosewater);
    opacity: 50%;
  }

  @media(max-width: 800px) {
    iframe {
      width: 90vw;
      height: 30vh; 
    }
  }
  @media(min-width: 800px) {
    iframe {
      width: 40vw;
      height: 40vh;
    }
  }

}

:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

.blog p {
  font-family: "Recursive";
}

.blog p {
  font-size: 12pt;
  font-variation-settings: "MONO" 0;
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--text); /* fg1 / fg */
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  background: var(--surface0); /* bg4 */
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  background: var(--surface0); /* bg4 */
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;

}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--crust); /* bg0_h */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: var(--overlay1); /* fg4 / gray1 */
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
  color: var(--mauve); /* red2 */
}

.token.operator,
.token.punctuation,
.token.attr-name {
  color: var(--subtext0); /* fg4 / gray1 */
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
  color: var(--yellow); /* yellow2 */
}

.token.entity,
.token.number,
.token.symbol {
  color: var(--maroon); /* purple2 */
}

.token.property,
.token.constant,
.token.variable {
  color: var(--peach); /* red2 */
}

.token.string,
.token.char {
  color: var(--green); /* green2 */
}

.token.attr-value,
.token.attr-value .punctuation {
  color: var(--lavender); /* fg4 / gray1 */
}

.token.url {
  color: var(--green); /* green2 */
  text-decoration: underline;
}

.token.function {
  color: var(--blue); /* yellow2 */
}

.token.regex {
  background: var(--green); /* green2 */
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  color: var(--green);
}

.token.deleted {
  color: var(--red);
}


