@font-face {
    font-family: 'Iosevka Pride';
    src: url('font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  font-family: "Iosevka Pride", monospace;
  font-size: 13pt;
  color: var(--text);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: flex;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  scrollbar-width: none;
  scrollbar-color: var(--bg-3) transparent;
  scrollbar-gutter: stable;
}

body {
  background-color: var(--base);
  flex-direction: column;
  flex: 1;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

button {
  background: none;
  box-shadow: none;
  border: none;
}

.contents {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 10px 20px 50px;
}

p {
  line-height: 25px;
}

.subtext {
  color: var(--subtext0);
}

.container {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}


:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

