/**
 * Gruvbox dark theme
 *
 * Adapted from a theme based on:
 * Vim Gruvbox dark Theme (https://github.com/morhetz/gruvbox)
 *
 * @author Azat S. <to@azat.io>
 * @version 1.0
 */

code[class*="language-"],
pre[class*="language-"] {
  color: var(--yellow); /* fg1 / fg */
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  background: var(--surface0); /* bg4 */
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  background: var(--surface0); /* bg4 */
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--crust); /* bg0_h */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: var(--overlay1); /* fg4 / gray1 */
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
  color: var(--mauve); /* red2 */
}

.token.operator,
.token.punctuation,
.token.attr-name {
  color: var(--subtext0); /* fg4 / gray1 */
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
  color: var(--yellow); /* yellow2 */
}

.token.entity,
.token.number,
.token.symbol {
  color: var(--maroon); /* purple2 */
}

.token.property,
.token.constant,
.token.variable {
  color: var(--peach); /* red2 */
}

.token.string,
.token.char {
  color: var(--green); /* green2 */
}

.token.attr-value,
.token.attr-value .punctuation {
  color: var(--lavender); /* fg4 / gray1 */
}

.token.url {
  color: var(--green); /* green2 */
  text-decoration: underline;
}

.token.function {
  color: var(--blue); /* yellow2 */
}

.token.regex {
  background: var(--green); /* green2 */
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  color: var(--green);
}

.token.deleted {
  color: var(--red);
}
