@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono');

* {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 19px;
}


body {
    background-color: var(--ctp-mocha-pink);
    margin: 0; 
}

h1 {
    font-size: 30px;
    color: var(--ctp-mocha-base)
}

p {
    color: var(--ctp-mocha-base);
}

a {
    color: var(--ctp-latte-mauve);
}

a:hover {
    text-shadow: 0 0 3px;
}

aman {
    font-style: italic;
}

aman::before {
    content: 'aman';
}